.card {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.links {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 0;
    text-align: center;
  }
  
  .links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .links a:hover {
    color: #0077ff;
  }

  .links a.active {
    color: #0077ff;
  }

  .links a.active:hover {
    color: #0093e2;
  }